/* Defines styles for major sections of the website, structuring the main content areas. */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    min-height: 100vh;
    background-color: var(--color-ltgrey-1);
    color: #000000;
}

.sidebar__logo-wrapper {
    padding: 24px;
}

.sidebar__logo {
    margin: 0 auto 24px auto;
}

.sidebar__header {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
}

.sidebar__category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 24px;
    cursor: pointer;
}

.sidebar__category::after {
    content: '\f0da';
    font: var(--fa-font-solid);
}

.sidebar__category--active {
    background-color: var(--color-ltgrey-2);
}

.sidebar__category--active::after {
    content: '\f0d7';
    font: var(--fa-font-solid);
}

.sidebar__collapsable {
    display: none;
}

.sidebar__collapsable--active {
    display: block;
}

.sidebar__item {
    padding: 6px 12px 6px 48px;
    cursor: pointer;
}

.sidebar__item--active {
    background-color: var(--color-ltgrey-2);
}

.content {
    margin-left: 240px;
    padding: 64px;
}

.page-description {
    font-size: 1.6rem;
}