:root {
    --primary-color: #A91523;
    --secondary-color: #1125A9;
    --accent-color: #FEC830;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9F9F9;
    font-family: 'new-hero', sans-serif;
    font-size: 15px;
    line-height: 1.25;
}

section {
    padding: 64px;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
}

.title-wrapper {
    max-width: 1200px;
    margin: 0 auto 64px auto;
    text-align: center;
}

.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 48px 48px;
    border: 1px solid #DDDDDD;
}

.container:not(:last-child) {
    border-bottom: none;
}

.container-title {
    position: absolute;
    top: -17px;
    left: 40px;
    padding: 8px;
    background-color: #F9F9F9;
    color: #888888;
    font-weight: bold;
    text-transform: uppercase;
}

.spacer {
    height: 48px;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.flexbox.gap {
    gap: 24px;
}

.group {
    flex: 1;
}

.group-title {
    margin-bottom: 24px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.group-title.alt {
    color: #888888;
}

.color-box {
    display: inline-grid;
    place-content: center;
    min-width: 96px;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.color-text {
    color: #FFFFFF;
    font-size: 13px;
    text-align: center;
    opacity: 0;
    transform: translateY(8px);
    transition: opacity 300ms, transform 300ms;
}

.color-text.alt {
    color: #000000;
}

.color-box:hover .color-text {
    opacity: 1;
    transform: translateY(0);
}

.button {
    padding: 16px 48px;
    border-radius: 32px;
    font-weight: bold;
    cursor: pointer;
}

.button.primary {
    background-color: var(--primary-color);
    color: #FFFFFF;
    transition: background 300ms;
}

.button.primary:hover {
    background-color: #680D15;
}

.button.secondary {
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    transition: background 300ms, color 300ms;
}

.button.secondary:hover {
    background-color: var(--secondary-color);
    color: #FFFFFF;
}

.button.hero {
    border: 1px solid #EEEEEE;
    background-color: #FFFFFF;
    color: #000000;
    transition: background 300ms, border 300ms, color 300ms;
}

.button.hero:hover {
    border: 1px solid #FEC830;
    background-color: #FEC830;
    color: #000000;
}

.link-topbar {
    color: #707372;
    font-size: 13px;
    cursor: pointer;
}

.link-topbar:hover {
    text-decoration: underline;
}

.link-nav {
    position: relative;
    font-weight: bold;
    cursor: pointer;
}

.link-nav::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    background-color: var(--primary-color);
    width: 0;
    height: 2px;
    transition: width 300ms;
}

.link-nav:hover::after {
    width: 100%;
}

.link-arrow {
    color: var(--secondary-color);
    font-weight: bold;
    cursor: pointer;
}

.link-arrow::after {
    content: '\f054';
	margin-left: 4px;
	font: var(--fa-font-solid);
}

.link-basic {
    color: var(--secondary-color);
    text-decoration: underline;
    cursor: pointer;
}

.input {
    flex: 1;
    padding: 12px;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    outline: none;
    font: inherit;
    font-size: 13px;
}

.input.active {
    border: 2px solid var(--secondary-color);
}

.input.error {
    border: 2px solid #FF0000;
}

.input-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.input-checkbox {
    accent-color: var(--primary-color);
}

.input-label {
    font-size: 13px;
}

.image-box {
    width: 320px;
    aspect-ratio: 16/9;
    border-radius: 24px;
    background-size: cover;
    background-position: center;
}